<!DOCTYPE HTML>
<html lang="en">
<meta charset="UTF-8" />

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ClixMania | Photo Contest Submit Form </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="">

    <!-- Facebook and Twitter Share Informations -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%=campaign.Title%>" />
    <meta property="og:description" content="<%-campaign.Description.replace(/<[^>]*>?/gm, '').slice(0,100); %>" />
    <meta property="og:image" content="/campaign/<%=campaign.Banner%>" />
    <meta property="og:url" content="/photoapp/<%=campaign.slug%>" />
    <meta property="og:site_name" content="ClicxMania" />
    <meta name="twitter:title" content="<%=campaign.Title%>" />
    <meta name="twitter:image" content="/campaign/<%=campaign.Banner%>" />
    <meta name="twitter:url" content="/photoapp/<%=campaign.slug%>" />
    <meta name="twitter:card" content="summary" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800">
    <!-- To enable the modal popup, uncomment the next line -->
    <link rel="stylesheet" href="/Landingpage/assets/css/bootstrap.min.css">

    <link href="/inspia/font-awesome/css/font-awesome.css" rel="stylesheet">


    <link rel="stylesheet" href="/Landingpage/contactme/css/select2.min.css">
    <link rel="stylesheet" href="/Landingpage/contactme/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="/Landingpage/contactme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/Landingpage/contactme/css/contactme-1.4.css">

    <!-- To enable the gallery plugin, uncomment the next line -->
    <!-- <link rel="stylesheet" href="assets/lightgallery/css/lightgallery.min.css"> -->
    <link rel="stylesheet" href="/Landingpage/assets/css/jonny-1.2.css">
    <!-- To enable the custom css file, uncomment the next line -->
    <!-- <link rel="stylesheet" href="assets/css/custom.css"> -->

    <link rel="stylesheet" type="text/css" href="/css/loader.css">
    <link href="/inspia/css/plugins/Upload/upload.css" rel="stylesheet">

    <link rel="stylesheet" href="/Landingpage/countryinput/css/intlTelInput.css">
    <!-- <link rel="stylesheet" href="/Landingpage/countryinput/css/demo.css"> -->
    <link href="/inspia/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <!-- inspia style -->
    <link href="/inspia/css/style.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>

    <div class="template-preloader-rapper">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>


</head>

<style>
    .error {
        margin-top: 5px;
        font-size: 12px;
    }

    textarea.error {
        border: 1px solid #FF0000 !important;
    }
</style>

<body>